.sidebar {
  background-color: #1e293b;
  height: 100vh;
  width: 250px;
  color: white; 
}

.sidebar-logo {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
}

.sidebar-items {
  padding: 20px 0;
}

.sidebar-item-group {
  margin-bottom: 20px;
}

.sidebar-item {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  color: #cbd5e1;
  font-size: 16px;
  transition: background-color 0.3s;
  justify-content: flex-start; 
}


